// -------- Font --------
$bayon: "Bayon", serif;
$notoSansTC: "Noto Sans TC", serif;

// -------- Headings -------- 
// 寫 px，後面 mixin 會換成 rem
$fontSize: (
    bigText: 190,
    h1: 61,
    h2: 49,
    h3: 39,
    h4: 31,
    h5: 25,
    h6: 20,
    p: 16,
    smallText: 13,
    xsText: 10,
);   
$lineHeight: (
    bigText: map-get($fontSize, bigText) * 0.9,
    h1: 80,
    h2: 64,
    h3: 56,
    h4: 48,
    h5: 36,
    h6: 32,
    p: 32,
    smallText: 22,
    xsText: 20,
);
$letterSpacing: (
    bigText: 0,
    h1: 0,
    h2: 0,
    h3: .02,
    h4: .04,
    h5: .04,
    h6: .04,
    p: .04,
    smallText: .06,
    xsText: .08,
);
$fontWeight-default: 400;
$fontWeight-bold: 700;
