// -------- Media Screen Size --------
$media_xs: 390px;
$media_sm: 576px;
$media_md: 768px;
$media_lg: 992px;
$media_xl: 1216px;

// Media Minimum Padding
$mediaMinPadding: 16px;

// Themes
$themes: (red, blue);