.wrapper{
    
    .petCalendarBox{
        width: 100.8rem;

        @include lg(){
            width: auto;
        }

        .topMain{
            display: flex;
            justify-content: space-between;
            gap: 10%;

            @include md(){
                flex-direction: column;
            }
        
            .topLeft{
               display: flex;
               align-items: center;
               justify-content: center;


               .topLeftBox{
                    height: 50%;  

                    @include md(){
                        margin-top: 2.4rem;
                    }

                    .title {
                        text-align: center;
                        
                        @include md(){
                        h3{
                            @include textStyle(h5, bold);
                        }

                        p{
                            @include textStyle(smallText);
                        }
                    }
                    
                    }               

                   .switch {
                       position: relative;
    
                       display: flex;
                       align-items: center;
    
                       width: 15rem;
                       height: 3.6rem;
                       margin: 4rem auto 21.5rem 0;
                       border-radius: 100px;
                       background-color: map-get($colors, natural-1);

                       @include md(){
                         margin: 2.4rem auto 2.4rem;
                        }  
    
                       // 隱藏單選按鈕
                       .switch-input {
                           display: none;
                       }
    
                       //位置條
                       .slider {
                           position: absolute;
    
                           width: 50%;
                           height: 3.6rem;
                           border: 1px solid map-get($colors, natural-2);
                           border-radius: 40px;
                           background-color: map-get($colors , beige);
    
                           transition: transform .3s ease;
                       }
    
                       .labels {
                           display: flex;
                           justify-content: space-between;
    
                           width: 100%;
                           margin: 0.8rem 1.6rem;
                           
                           line-height: 3.6rem;
    
                           label {
                               cursor: pointer;
                               z-index: 10;
                           }
                       }
    
    
                       /* 當某一選項被選中時，滑塊移動到相對應位置 */
                       #officialEvent:checked~.slider {
                           transform: translateX(0);
                       }
    
                       #splooter:checked~.slider {
                           transform: translateX(100%);
                       }
                   }
               }
            }   

            .topRight{
                margin-top: 40px;
                @include md(){
                    margin-top: 0;
                }  

                .calendar{
                    width: 335px;
                    height: 307px;
                }
            }
        }
        
        .scheduleBtnBox{
            height: 5.1rem;
            padding-bottom: 1.8rem;
            margin-bottom: 2.8rem;
            border-bottom: 1px solid map-get($colors ,natural-2 );

            @include sm(){
                margin-top: 3.2rem;
            }

            .scheduleBtn{
                cursor: pointer;

                display: flex;
                align-items: center;

                width: 72px;
                height: 32px;
            }
            
            img{
                width: 24px;
                height: 24px;
            }
        }

        .scheduleCard{
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 3欄，欄位寬度相等 */
            gap: 3.6rem;
            place-items: center;

            @include lg(){
                grid-template-columns: repeat(2, 1fr); /* 2欄，欄位寬度相等 */
            }

            @include md(){
                grid-template-columns: repeat(1, 1fr); /* 1欄，欄位寬度相等 */

            }

            .scheduleCards{
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                width: 31.2rem;

                .cardText{
                    height: 282px;
                    padding: 2.4rem;
                    border-radius: 16px;
                    margin-bottom: 12px;
                    background-color: map-get($colors, beige);
                    
                    .cardTitle{
                        text-align: center;
                    }

                    .cardContent{
                        margin-bottom: 1.6rem;
                    }

                    .info{
                        display: flex;

                        .leftItem{                
                            white-space: nowrap;

                            .cardIcon{
                                width: 22px;
                                height: 22px;
                                margin-right: 8px;
                            }

                            .timeLabelBox{
                                height: 4.4rem;                                
                            }

                            .placeLabelBox{
                                height: 4.4rem;
                            }
                        }                       
                    }
                }
            }
       }
       .popUp{
            padding: 0 0 5.6rem;
                .theSuccess{
                .topTitle{
                    text-align: center;
                    border-bottom: 1px solid map-get($colors, natural-1);

                    padding: 2.4rem 0;
                }
                .bottomBox{
                    padding: 0 5.6rem;

                    .successBox{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 4.8rem;

                        padding: 3.6rem 0;

                        .succesContent{
                            width: 40rem;

                            @include lg(){
                                width: 30rem;
                            }

                            @include md(){
                                width: auto;
                            }

                            @include sm(){
                                width: 25.6rem;
                            }

                            .cardTitle{
                                text-align: center;
                            }
            
                            .cardContent{
                                margin-bottom: 1.6rem;
                            }
            
                            .info{
                                display: flex;
            
                                .leftItem{                
                                    white-space: nowrap;
            
                                    .cardIcon{
                                        width: 22px;
                                        height: 22px;
                                        margin-right: 8px;
                                    }
            
                                    .timeLabelBox{
                                        height: 4.4rem;                                
                                    }
            
                                    .placeLabelBox{
                                        height: 4.4rem;
                                    }
                                }                       
                            }
                            .organizerBox{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                @include md(){
                                    flex-direction: column;
                                    gap: 2.4rem;
                                }

                                .organizer{
                                    display: flex;
                                    gap: 0.8rem;

                                    .organizerAvatar{
                                        width: 4.4rem;
                                        height: 4.4rem;
                                        border: 1px solid map-get($colors, natural-1);
                                        border-radius: 50%;
        
                                        img{
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                }
                                .lineQRcode{
                                    background-color: map-get($colors, natural-2);
                                    width: 6.4rem;
                                    height: 6.4rem;
                                    
                                }
                            }
                        }
                        .successImg{
                            @include md(){
                                display: none;
                            }
                        }
                    }
                }
            }
       }
       
       .circle{
           @include circle(#F9E7C0);
           
           position: fixed;
           left: 50%;
        }
        
        .circle1{
            top: -200px;
        }
        
        .circle2{
            top: 1040px;
        }
    }    
}

//新增行程燈箱

.addEvent{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    padding-top: 4.4rem;

    .newEventText{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

        .eventlabel{
            display: flex;
            align-items: center;
            gap: 0.8rem;

            margin-bottom: 0.8rem;

            .eventIcon{
                width: 22px;
                height: 22px;
            }
        }
        
        .peopleNumber{
            width: 14.4rem;
        }

    .eventTime{
        .eventTimeDropDown{
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            @include md(){
                flex-direction: row;
            }

            .timeDropDownBox{
                display: flex;
                gap: 2.4rem;

                @include md(){
                    flex-direction: column;
                }

                .theTimeBox{
                    display: flex;
                    gap: 0.8rem;

                    @include md(){
                        flex-direction: column;
                    }

                        .dropdownMenu{
                            position: relative;
                            width: 12rem;
                            height: 4.6rem;

                            @include lg(){
                                width: 10rem;
                            }
                            
                            .dropDown{
                                position: absolute;
                                top: 0;
    
                                width: 100%;
                                border-color: map-get($colors, natural-1);
    
                                z-index: 900;
            
                            }
                        }
                }



                &.startTime .theTimeBox .dropdownMenu{
                    .dropDown{
                        z-index: 950;
                    }
                }
            }
        }
    }
    .newEventBtn{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        .cancel span{
            @include textStyle(xsText)
        }
    }
}
.checkAgain{
    p{
        margin-bottom: 2.4rem;
    }    
    .primary.small{
        margin-bottom: 0.8rem;
    }
}

































