#home{
  overflow-x: hidden;

  section{
    position: relative;
    z-index: -10;
    width: 100vw;
    height: 100vh;

    .bigText{
      @include bayon(168);
    }
  }

.landing{
  height: 1600px;
  text-align: center;

  .mainText{
    &::before{
      @include circle(map-get($colors, yellow-0));
        content: '';
        position: absolute;
        top: 0;
        left: calc((100vw - 1240px) / 2); 
    }
    width: 100%;
    max-width: 1240px;
    height: 1240px;
    padding-top: 516px;
    margin: 189px auto 0 auto;

    .bigText{
      margin-bottom: 9.1rem;
    }
  }
}

.match{
  .matchCards{
    .matchCard{
      width: 69.6rem;
      height: 36rem;
      padding: 1.6rem 1.6rem;
      border-radius: 16px;
      background-color: map-get($colors, beige);

      display: flex;
      gap: 1.6rem;

      > img{ 
        height: 30.8rem;
        border-radius: 8px;
      }
      .content{ 
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        .top-block{
          h4{ margin-bottom: .4rem; }
          .distance{
            img{ width: 2.4rem; }
            display: flex;
            gap: .8rem;
          }
        }
        .bottom-block{
          display: flex;
          flex-direction: column;
          gap: 1.6rem;

          .tagBox{
            display: flex;
            gap: .4rem;
            .tag{
              padding: 0 .8rem;
              border-radius: 999px;
              border: 1px solid map-get($colors, natural-1);
            }
          }
        }
      }

    }
  }
}

.splootBox{

}

.splootBuddy{

}

.event{

}

.splootFriendly{

}


}