
// @use 'member-nav';  //不能，因為沒法取用base裡面的變數
//===============================================

body{
  ::-webkit-scrollbar{
    display: none;
  }
}

.divider{
  width: 100%;
  height: 1px;
  background-color: map-get($colors, natural-2 );
}

.lightBox{
  position: fixed;
}

.blackCover{
  right: 0;
}
// =========================================
 //background circle


.member-circle{
  @include circle(map-get($colors, natural-2));
  position: fixed;
  top:143%; 
  left: 50%;
  opacity: 0.2;
}

//sturcture

.whole-bg{
  max-width: 80vw;
  margin: 0 auto;
  padding-top: 2.4rem;
}

 //topNav: 會員中心的navigaiton
 .topNav {
  width: 100%;
  margin-bottom: 6.4rem;
  .msg-n-avatar {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: .8rem;
  }
  .mcNav {
    width: 100%;
  }


}

 .mcNav{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1.2rem;
  .btn-wrapper{
    @include textStyle(smallText);
  }
    i {
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;  
      background-color: map-get($colors, red );
    }

  }

  ol {
    display: none;
  }

  .on {
    display: flex; //之後用JS給class
  }


ol {
  li {}
}


.memberCenter {
  width: 100%;
}

.memberInfo {  //會更新的區塊
  width: 100%;
  padding-bottom: 6rem;
  .title2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;
  }
  // 氣直線
  .divider {
    margin-top: 1.6rem;
    margin-bottom:2.4rem;
  }
  // 三張卡片的外層
  .cards-container {}
}

// 頂部區塊(不會更新) : topNav
 //頭像 和 歡迎詞
.msg-n-avatar{
  width: 100%;
  .avatar{
    width: 4.8rem;
    height: 4.8rem;
    border:2px solid map-get($colors, natural-0);
    border-radius: 50%;
  
    img{
      width: 100%;
      border-radius: 50%;
    }
  }
  
  .msg-welcome{
    width: calc(100% - 4.8rem);
    text-align-last: left;
    h5{}

    span{}
  }
} 




// =============================
// 下面主要區塊，memberInfo
 //標題 : 會員資料
.title2 {
  display: flex;
  justify-content: space-between;
  h6 {}

  .btn-wr {}
}

// .divider{}

//三張卡片的共用屬性 : .card
.memberInfo .cards-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  .card{
    width: 100%;
    border-radius: 8px;
    background-color: map-get($colors, natural-0 );
    padding: 1.6rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    .card-title{}

    .divider{}

    .card-content{
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }

    .input-group{
      width: 100%;
      display: flex;
    }

    .bi-inbox{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5.6rem;
      @include textStyle(smallText);
    }

    .bi-inbox .label{
      min-width: 3rem;
    }
  }
}
 // 上面兩張卡的布局
.top2-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.6rem;
  .card-basicInfo,.card-account {
    flex-basis: min-content;
    flex-basis: calc(50% - 1.6rem);
    flex-grow: 1;
  }

  .card-account {}
}
 //第三張卡
.card-contact {
  .card-content {
    .setWid{
      min-width: 5.6rem;
    }
  }
}

 //上兩張卡 : 基本資料&帳戶
.top2-cards {
  flex-grow: 1;

  .card {
    padding: 1.6rem 2.4rem;
  }

  .card_title {
    h3 {
      @include textStyle(p);
    }
  }

  .card-content {
    justify-content: flex-start;
    gap: 5.6rem;

    ul {}
  }
}
 //第三張卡 : 聯絡資料
.card-contact {
  padding: 1.6rem 2.4rem;
}
 // 隱私權
.privacy {
  display: flex;
  justify-content: flex-end;
  gap: .8rem;

.btn{
  width: calc(min-width + 1rem);
}
}


// ===============================================
//memberInfo update, pop up，彈窗

.memberInfo-update { // LightBox的外層
  // width: 55vw;
  // max-width: 99vw;
  // margin: 3.9rem auto 0 auto;

    .blackCover{
      right: 0;
    }

    .avatars {}

    .basicInfo {
      padding: 1.6rem 0;
    }

    .accountInfo {
      padding: 1.6rem 0;
    }

    .contactInfo {
      padding: 1.6rem 0;
      margin-bottom: 2.4rem;
    }

    label{
      min-width: 7rem;
      min-height: 1rem;
      white-space: nowrap;
      @include textStyle(smallText);
    }
  }

  .input-group {
    height: auto;
  }

//avatar
.avatars .card-content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem;
  padding: 2.4rem 0;
  .av-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    // transition: .3s;
    .avatar {
      cursor: pointer;
      //頭相框，可以在選擇(focus?)的時候，出現外框(outline)，並且名字變成粗體
      width: 6.4rem;
      height: 6.4rem;
      border-radius: 50%;
      background-color: map-get($colors, natural-2 );
    }

    & img {
      width: 100%;
      border-radius: 50%;
    }

  }
  .-selected {
    outline: 3px solid map-get($colors, red ); /* 選中時的外框顏色 */
    border-radius: 50%;
    padding: 5px; /* 增加內距，確保 outline 不會太靠近 */
  }

  &:first-child p {
    font-weight: 700; //套用sass後刪掉
  }
}

//basicInfo
.basicInfo {
  .card-title {}

  .divider {}

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 1.6rem 0;

    .input-group {
      display: flex;
      justify-content: flex-start;
      gap: 5.6rem;
      align-items: center;
    }

    .birthday{
      height: auto;
      align-items: flex-start;
    }

    &:nth-child(2) {
      width: 100%;
    }

    .inp-name{
      display: flex;
      justify-content: flex-start;
      align-items: start;
      gap: .8rem;
      height: 4rem;
    }

    .sex {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 2.4rem;
    }
  }

  #sexGroup{
    display: flex;
    justify-content: start;
  }

  .select-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
   .dropBirthday{
      width: 100%;
    }
  }
}

//account info.
.accountInfo {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  .card-title {
    h2 {}
  }

  .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    .input-group {
      width: 100%;
      display: flex;
      justify-content: start;      
      align-items: start;
      gap: 5.6rem;
    }

    input {
      width: 100%;
    }

    .account-state {
      display: none;
    }
  }
}

.accountInfo .input-group {
  .pwdEye{
    min-width: 7rem;
    display: flex;
    align-items: center;
    label{
      min-width: unset;
    }
    .theEye{
      cursor: pointer;

      // position: absolute;
      // top: 10px;
      // right: 16px;

      width: 32px;
      height: 32px;
    }
  }
  .group-email, .group-pwd{
    width: 100%;
    display: flex;
    justify-content: space-between;

    .defaultBtn{
      width: 8rem;
    }
    .inputSetBox{  
      display: flex;
      position: relative;

      margin-bottom: 0.8rem;

      // 遮住，讓使用者無法點擊，不安全
      &::before{
        pointer-events: all;

        content: "";
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        opacity: 100%;
      }
    }
  }
}

.third-login{
  .btn-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: .4rem;
  }

  .defaultBtn{
    width: 8rem;
  }
}

//contact info.
.contactInfo {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  .card-title {}

  .divider {}

  .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .input-group {
      display: flex;
      justify-content: space-between;
      gap: 5.6rem;
      align-items: start;
      height: auto;
      .inputs{
        width: 100%;
        display: flex;
        flex-direction: column;
        .select-group{
          display: flex;
          flex-wrap: wrap;
          gap: 1.2rem;
          margin-bottom: 1.6rem;
          .address{
            flex-grow: 1;
          }
        }

      }
    }

    p {
      display: block;
      width: 7.4rem;
      @include textStyle(smallText);
    }

    .lineid-wrapper {
      width: 100%;
      position: relative;
    }

    #lineidnotice {
      display: block;
      width: 100%;
      // position: absolute;
      bottom: -2.4rem;
      left: 0;
      @include textStyle(xsText);
    }

    input {
      width: 100%;
    }
  }
}
// 儲存修改紐
.pu-btn-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  text-align: center;
}

 // 設定新信箱
.mc-update-verify{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 8rem 7.1rem;
  max-width: 50rem;
  height: 42rem;
  text-align: center;
  h5{}

  p{}

  label{
    width: 100%;
  }
  // 打勾icon
  .tick{
    width: 12rem;
    height: 12rem;
    margin: 0 auto;
    background-color: #0D99FF;  //暫時
    border-radius: 50%;
  }

}

#resetPwdAgree{
  display: flex;
  justify-content: start;
  align-items: center;
}

.unBind{
  width: 100%;
  .title{
  width: 100%;
  }

  .btn-group{
  width: 100%;
  }
}
//=========================================================
// petcard view

.petcardView {  //會更新的區塊
  width: 100%;
  padding-bottom: 6rem;
  // 標題 寵物資訊卡  
  .petcard-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;
  }
  // 氣直線
  .divider {
    margin-bottom: 2.4rem;
  }
  // 寵物卡片的外層，用grid
  .petcard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr)); // 自適應列數，最小 488px
    grid-gap: 3.2rem;              // 行列間距 
    max-width: 100%;            // 最大寬度限制 
    margin: 0 auto;              // 水平置中    
    // grid-template-areas: 
    // "pc1 pc2"
    // "pc3 addpc"
    // ;    

    .petcard{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: .8rem;
    }

    .cardWrap{
      margin: 0;
    }

    #addPetCard{
      width: 100%;
      min-height: 22rem;

      border: 1px dashed map-get($colors, natural-2 ) ;
      border-radius: 16px;
    }

    #addPetCardBtn{
      margin: 0 auto;
        width: 16.8rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.6rem;
    }

    .ptc-top{
      width: 100%;
      height: 22rem;
      background-color: map-get($colors, natural-0);
    }
    

    .btn-group{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 4rem;
      @include textStyle(xsText);
    }
  }
}

.buddyCards{
  width: 100%;
  max-width:31.2rem;
  height: 36.2rem;
  .cardBox{
      background-color: map-get($colors, beige);
      border-radius: 16px;
      margin-bottom: 1.2rem;
  
      .cardsImgBox{
          display: flex;
          justify-content: center;

          width: 100%;
          height: 17.2rem;
          border-radius: 16px;

          overflow-x: hidden;

          .cardsImg{       
              width: 100%;
              height: 100%;
              object-fit: cover;
                                   
              border-radius: 16px;
          }
      }

      .cardText{
          width: 100%;
          padding: 1.2rem 2.4rem 2.4rem;

          text-align: center;

          .reviews{
              display: flex;
              align-items: center;
              justify-content: center;

              margin: 4px 0;

              .stars{
                  display: flex;

                  .star{
                      width: 16px;
                      height: 16px;  
                      margin-right: 4px;                                      
                      }
                  
              }

              .avgGrade{
                  margin-right: 4px;
              }
          }
          .serviceDays{
              margin-top: 0.8rem;

              .serviceDaysBox{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 4px;

                  margin: 0.4rem 0;

                  .daysUl{
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      gap: 4px;

                      


                      .daysItem{
                          width: 2.8rem;
                          height: 2.8rem;
                          padding: .4rem .8rem;

                          border: 1px solid map-get($colors, natural-1);
                          border-radius: 50%;
                      }
                  }
              }
          }

          .btnBox{
              margin: 16px 0 0;
          }
      }
  }
}



  /* 螢幕寬度 1008px 及以上，改為 2列 */
  @media (min-width: 1008px) {
    .petcard-container {
      grid-template-columns: repeat(2, 1fr); /* 2列 */
    }
  }
  /* 小於 1007px 改為單列 */
  @media (max-width: 1007px) {
    .petcard-container {
      grid-template-columns: 1fr; /* 單列 */
      .petcard{
        .cardWrap .cardwrapper{
          max-width: unset;
          max-height: unset;
          flex-direction: column;
          .topSection{
            justify-content: start;
          }
        }
      }
    }
  }
// 喜好設定彈窗
 .matchAdjust{
   padding-top: 4.4rem;
   display: flex;
   flex-direction: column;
   gap: 2.4rem;
   justify-content: center;
   margin: 0 auto;
 }

.matchAdjust .tag-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1.6rem ;
  .tag-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: .4rem;
    p{
      white-space: wrap;
    }
    .tag-group{
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      gap: .8rem;
    }

    .tag{}
  }
}

.matchAdjust .btn-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

#deletePetcardPop{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete-petcard{
  width: 42.5rem;
  height: 17.6rem;
  margin: 0 auto;
  padding: 5.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  .title{
    width: 100%;
    text-align: center;
    p{}
  }

  .btn-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .8rem ;
  }
}

//=======================
//訂閱紀錄
.subRecord{
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 4rem;
//當前方案
  .sub-recently{
    width: 100%;
    .sr-title{
      display: flex;
      justify-content:space-between;
      align-items: center;
    }

    .divider{
      margin-top: 1.6rem;
      margin-bottom: 2.4rem;
    }

    .sr-slider {
      display: flex;
      width: 100%; 
      overflow-y: auto;
      scroll-behavior: smooth; /* 平滑滾動 */
      -ms-overflow-style: none; /* IE 和 Edge 隱藏滾動條 */
      scrollbar-width: none;    /* Firefox 隱藏滾動條 */
    }
    
    .sr-slider::-webkit-scrollbar {
      display: none; /* Chrome, Safari 和 Opera 隱藏滾動條 */
    }
  }
 //歷史紀錄
  .sub-history{
    .sh-title{
      display: flex;
      justify-content:space-between;
      align-items: center;
      margin-bottom: 1.6rem;
    }

    .divider{
      margin-bottom: 2.4rem;
    }

    .sh-h{
      width: 100%;
      padding: 1.6rem 0;
      background-color: map-get($colors, natural-0 );
      border-radius: 16px;
    }
  }

}
 //slider
.sr-slider .cards-container{
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 2.4rem;

  overflow-x: scroll;          /* 啟用水平滑動 */
  scroll-behavior: smooth;     /* 平滑滑動效果（可選） */ 
  .card{
    flex: 0 0 auto;  //不允許伸縮
    width: 31.2rem;
    height: 100%;
    padding: 0;
    background-color: map-get($colors, natural-0 );
    border-radius: 16px;
    .card-title{
      display: flex;
      justify-content: start;
      width: 100%;
      padding: 0.8rem 2.4rem;
      border-bottom: 1px solid map-get($colors, natural-1 );
    }

    .card-content{
      width: 100%;
      height: 100%;
      padding: 2rem 2.4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2.4rem;
    }
  }

  &::-webkit-scrollbar {
    display: none;               /* Safari 和 Chrome */
  }
}

.sr-slider .card-content{
  .sr-items-group{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    .srItems{
      display: flex;
      justify-content: space-between;
    }
  }
}
 //歷史紀錄的表格
.sh-h{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 1.6rem 0;
  gap: .8rem;
  .sh-h-title{
    width: 100%;
    padding: .8rem 2.4rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: auto;
    grid-area: 
    "th_index th_petName th_plan th_plan th_total";
    border-bottom: 1px solid map-get($colors, natural-2);
    &:not(:nth-child(20)){
      flex:1 0 0;
    }
  }

  .sh-h-content{
    width: 100%;
    padding: 0 2.4rem;
    .sh-h-items{
      display: flex;
      display: grid;
      grid-template-columns: repeat(5,1fr);
      grid-template-rows: repeat(1,1fr);
      gap: auto;
      grid-template-areas: 
      "tb_index tb_petName tb_plan tb_date tb_total";
    }

    .sh-h-items:not(:nth-child(200)){
      flex:1 0 0;
    }
  }
}

//========================================
// 小幫手中心
.helperCenter{
  padding-bottom: 6rem;
  .hc-not-passed{}
  .hc-passed{}
  .hc-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.4rem;
    margin-bottom: 2.4rem;
    .hc-steps{
      cursor: pointer;
      flex-basis: 19.5rem;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.6rem 3.2rem;
      border-radius: 8px;
      border: 1px solid map-get($colors, natural-2 );
      @include textStyle(smallText);

      position: relative;
      .stepStatues{
        margin-left: 1.6rem;
      }
    }
    // 步驟完成後，按鈕變成"不可點擊
    .-disable{
      // 滑鼠變叉叉
      cursor: not-allowed; 
      // 禁止點擊
      pointer-events: none;
    }

    .hc-steps:hover{
      background-color: map-get($colors, natural-0 );
      transition: all .3s;
    }
    .hc-reson{
      position: absolute;
      bottom: -20%;
      left: 0%;
      color:map-get($colors, red );
    }
  }
  .hc-title{
    text-align: left;
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

// 適性測驗
.hcTest{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4.4rem;
  padding-top: 4.4rem;
  .questions{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.6rem;
    .hcTest-q{
      display: flex;
      flex-direction: column;
      gap: .8rem;
    }
  }
  .btn-group{
    display: flex;
    flex-direction: column;
    gap: .8rem;
  }
}
.hcTest .hcTest-q{
  p{}
  .radio-group{
    display: flex;
    gap: 2.4rem;
    padding: 0 1.6rem;
    label{
      @include textStyle(p);
      input{}
    }
  }

}

// 資料審核
.hcVarify-wrapper{
  padding-top: 4.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  .input-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 1.6rem;
    .input-group{
      display: flex;
      justify-content: start;
      gap: 1.6rem;
    }
  }
  .upload-file-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 4.4rem;
    .selfy,.idCard{
      width: 100%;
    }
  }
  .btn-group{
    display: flex;
    flex-direction: column;
    gap: .8rem;
  }
}
.selfy,.idCard{
  display: flex;
  flex-direction: column;
  gap: .8rem;
  justify-content: start;

  .imgUpload{
    .imgUploadSection {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 20rem;
     margin-bottom: 0.8rem;
     border: 1px dashed map-get($colors, natural-2 );
     border-radius: 8px;
     overflow-y: hidden;
   }
   .imgUploadText{
    color: map-get($colors, natural-2 );
   }
   img{
    width: 100%;
   }
  }

  p{}
  .upload-area{
    width: 100%;
    height: 20rem;
    border-radius: 8px;
    border: 1px dashed map-get($colors , natural-2 );

    position: relative;  //內部文字
    img{}
    .content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: map-get($colors, natural-2 )
    }
  }
  // btn
  // text
}
.hcVarify-wrapper .input-group{
  label{
    @include textStyle(smallText);
    white-space: nowrap;
    min-width: 7rem;
  }
  input{
    width: 100%;
  }
}

.hcVarify-wrapper .birthday{
  height: auto;
  label{}
  .select-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1.2rem;
    .dropBirthday{
      width: 100%;
    }
  }
}
// 合約簽署
.hcSign-wrapper{
  padding-top: 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2.4rem;
  .hc-terms{
    .content{
      li{
        @include textStyle(xsText);
      }
    }
  }
  .hcSigh-check{
    label{
      display: flex;
      justify-content: baseline;
      gap: .8rem;
      @include textStyle(smallText);
      input{}
    }
  }
  .btn-group{
    display: flex;
    flex-direction: column;
    gap: .8rem;
  }
}
// 小幫手管理
.hcManage-wrapper{
  padding-top: 4.4rem;
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
  .input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    .input-group{
      height: auto;
      display: flex;
      gap: 5.6rem;

      label{
        min-width: 6.5rem;
      }
      .inputs{
        width: 100%; 
        display: flex;
        .tag-group{
          display: flex;
          flex-wrap: wrap;
          justify-content: baseline;
          gap: .8rem;
          padding-bottom: .8rem;
        }
        .select-group{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 1.2rem;
          .service-t{
            flex-grow: 1;
          }
        }
        textarea{
          width: 100%;
        }
      }
      .zone{
        flex-grow: 1;
        align-items: baseline;
        gap: 1.2rem;
        .service-z{
          width: 100%;
        }
      }
      .service-time{
        display: flex;
        flex-direction: column;
        gap: .8rem;
      }
    }
  }
  .btn-group{}
}

 // 無身分
.hc-not-passed{

  .hc-post-manage{
    width: 100%;
    height: 22rem;
    .divider{
      margin-top: 1.6rem;
      margin-bottom: 2.4rem;      
    }

    .hc-msg{
      width: 100%;
      height: 100%;
      min-height: 30rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
 }

 // 有身分
.hc-passed .hc-post-manage{
  width: 100%;
  //h6

  .divider{
    margin-bottom: .8rem; 
  }

  .hc-grid-container{
    width: 100%;
    padding-top: 1.6rem;

    display: grid;
    grid-template-columns: 1fr; // 初始為單列 
    grid-gap: 3.2rem;              // 行列間距 
    max-width: 100%;            // 最大寬度限制 
    margin: 0 auto;              // 水平置中    
    .hc-postCard{
      width: 100%;
      height: 100%;
      min-height: 40rem;
      .buddyCards{
        margin: 0 auto;
      }
    }

    .postCard{
      width: 100%;
      height: 22rem;
      background-color: map-get($colors, natural-0 );
    }

    .postCard img{
      width: 100%;
    }
  }

  /* 螢幕寬度 768px 及以上，改為 2列 */
  @media (min-width: 768px) {
    .hc-grid-container {
      grid-template-columns: repeat(2, 1fr); /* 2列 */
    }
  }
  
  /* 螢幕寬度 1024px 及以上，保持 2列 */
  @media (min-width: 1024px) {
    .hc-grid-container {
      grid-template-columns: repeat(2, 1fr); /* 仍為 2列 */
    }
  }
 // 還沒有貼文的時候
  .empty{
    width: 100%;
    height: 22rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px dashed map-get($colors, natural-2);
    border-radius: 16px;
    .btn-group{
      height: 100%;
      max-width: 16.8rem;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.hc-passed .hc-postCard{
  .postCard{}  //元件

  .hc-btn-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .8rem;
  }
}

// 小幫手中心的貼文卡片 helperPostCard
.helperPostCard{
  width: 100%;
  .cardBox{
    background-color: map-get($colors, natural-0 );
    border-radius: 16px;
    margin-bottom: 1.2rem;
    .cardsImg{
      width: 100%;
      border-radius: 16px;
    }
    .cardText{
      width: 100%;
      padding: 1.2rem 2.4rem;
      display: flex;
      flex-direction: column;
      gap: .4rem;
      align-items: center;
    }
  }
  
  .reviews{
    display: flex;
    align-items: center;
    .stars{
      display: flex;
      align-items: center;
    }
  }

}

// 
@media (max-width: 711px) {
  .basicInfo .select-group{
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .basicInfo,.accountInfo,.contactInfo{
    .card-content{
      .input-group{
        flex-direction: column;
        align-items: start;
        height: 100%;
        gap: .8rem;
        label{}
      }
    }
  }
  .accountInfo .input-group{
    .group-email,.group-pwd{
      flex-direction: column;
      align-items: end;
    }
  }
}
    @media (max-width:640px){
      .hcManage-wrapper .input-wrapper .input-group {
        flex-wrap: wrap;
        gap: .8rem;
        .zone{
          flex-wrap:wrap;
        }
      }
    }
