
// @use 'member-nav';  //不能，因為沒法取用base裡面的變數
//===============================================
 //background circle
 .whole-bg{}

.member-circle{
  @include circle(map-get($colors, natural-2));
  position: fixed;
  top:143%; 
  left: 50%;
}

//sturcture
.memberCenter {
  max-width: 70vw;
  margin: 0 auto;
  .topNav {
    width: 100%;
    margin-bottom: 6.4rem;
    .msg-n-avatar {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: .8rem;
    }
    .mcNav {
      width: 100%;
    }
  }

  .memberInfo {  //會更新的區塊
    width: 100%;
    padding: 2.4rem;
    // 標題 會員資料  
    .title2 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.6rem;
    }
    // 氣直線
    .divider {
      width: 100%;
      height: 1px;
      background-color: #ccc;
      margin-bottom: .8rem;
    }
    // 三張卡片的外層
    .cards-container {}
  }
}

// 頂部區塊(不會更新) : topNav
 //頭像 和 歡迎詞
.msg-n-avatar{
  width: 100%;
  .avatar{
    cursor: pointer;
    width: 4.8rem;
    height: 4.8rem;
    border:2px solid map-get($colors, natural-0);
    border-radius: 50%;
  
    background-color: #693413;
  }
  
  .msg-welcome{
    width: calc(100% - 4.8rem);
    text-align-last: left;
    h5{}

    span{}
  }
} 

 //mcNav: 會員中心的navigaiton
.mcNav{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1.2rem;
  .btn-wrapper{
    @include textStyle(smallText);
  }
    i {
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;  
      background-color: map-get($colors, red );
    }

  }

  ol {
    display: none;
  }

  .on {
    display: flex; //之後用JS給class
  }


ol {
  li {}
}


// =============================
// 下面主要區塊，memberInfo
 //標題 : 會員資料
.title2 {
  display: flex;
  justify-content: space-between;
  h6 {}

  .btn-wr {}
}

// .divider{}

//三張卡片的共用屬性 : .card
.memberInfo .cards-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  .card{
    width: 100%;
    border-radius: .8rem;
    background-color: map-get($colors, natural-0 );
    padding: 1.6rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    .card-title{}

    .divider{}

    .card-content{
      display: flex;
      flex-direction: column;
      gap: .4rem;
    }

    .bi-inbox{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5.6rem;
      @include textStyle(smallText);
    }

    .bi-inbox:first-child{
      width : calc(min-width + 5.6rem);
    }
  }
}
 // 上面兩張卡的布局
.top2-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  .card-basicInfo {}

  .card-account {}
}
 //第三張卡
.card-contact {
  .card-content {
    .setWid{
      width: 5.6rem;
    }
  }
}

 //上兩張卡 : 基本資料&帳戶
.top2-cards {
  flex-grow: 1;

  .card {
    padding: 1.6rem 2.4rem;
  }

  .card_title {
    h3 {
      @include textStyle(p);
    }
  }

  .card-content {
    justify-content: flex-start;
    gap: 5.6rem;

    ul {}
  }
}
 //第三張卡 : 聯絡資料
.card-contact {
  padding: 1.6rem 2.4rem;
}
 // 隱私權
.privacy {
  display: flex;
  justify-content: flex-end;
  gap: .8rem;

.btn{
  width: calc(min-width + 1rem);
}
}


// ===============================================
//memberInfo update, pop up，彈窗

.memberInfo-update {
  width: 55vw;
  max-width: 99vw;
  margin: 3.9rem auto 0 auto;
  padding-top: 4.4rem;


  .popup-basicInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 5.6rem;
    border-radius: 1.6rem;
    background-color: map-get($colors, beige);

    .closeBtn-group{
      display: flex;
      justify-content: flex-end;
    }

    .close {
      //右上角的X按鈕   
      cursor: pointer;

      width: 3.6rem;
      height: 3.6rem;
      border-radius: 50%;
  
      background-color: #ccc;
    }
 

    .avatars {}

    .basicInfo {
      padding: 1.6rem 0;
    }

    .accountInfo {
      padding: 1.6rem 0;
    }

    .contactInfo {
      padding: 1.6rem 0;
    }
  }

  .input-group {
    height: 4rem;
  }
}

//avatar
.avatars .card-content{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  padding: 2.4rem 0;
  .av-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    .avatar {
      //頭相框，可以在選擇(focus?)的時候，出現外框(outline)，並且名字變成粗體
      width: 6.4rem;
      height: 6.4rem;
      border-radius: 50%;
      background-color: map-get($colors, natural-2 );
    }

    & img {}
  }

  &:first-child p {
    font-weight: 700; //套用sass後刪掉
  }
}

//basicInfo
.basicInfo {
  .card-title {}

  .divider {}

  .card-content {
    flex-direction: column;
    gap: 1.6rem;
    padding: 1.6rem 0;

    .input-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    label{
      width: 6.4rem;
    }

  }

  .input-group {
    label {
      display: flex;
      width: 6.4rem;
      @include textStyle(smallText);
    }

    &:nth-child(2) {
      width: 100%;
    }

    .inp-name{
      display: flex;
      justify-content: flex-start;
      align-items: start;
      gap: .8rem;
      height: 4rem;
    }

    .sex {
      display: flex;
      align-items: center;
      gap: 2.4rem;
    }

  }

  .select-group {
    width: 100%;
    display: flex;
    gap: 1.2rem;

    select {
      width: 100%;
    }
  }
}

//account info.
.accountInfo {
  .card-title {
    h2 {}
  }

  .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .input-group {
      display: flex;
      align-items: center;
    }

    .input-group p {
      width: 6.4rem;
      @include textStyle(smallText);
    }

    input {
      width: 100%;
    }

    .account-state {
      display: none;
    }
  }
}

.accountInfo .input-group {
  width: 100%;

  .mc-pu-account {
    width: 80%;
    display: flex;
    gap: 5.6rem;

    p {
      width: 6.4rem;
    }

    input {
      width: 100%;
    }
  }

  .mc-pu-password {
    width: 80%;
    display: flex;
    gap: 5.6rem;

    p {
      width: 6.4rem;
    }

    .input-wrapper {
      width: 100%;
      position: relative;
    }

    input {
      //mc-pu-pwd裡面
      width: 100%;
    }

    button {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  a {
    margin-left: auto;
  }
}

.accountInfo .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12rem;

  button {}

  a {}
}

//contact info.
.contactInfo {
  .card-title {
    ul {}
  }

  .divider {}

  .card-content {
    width: 100%;
    flex-direction: column;
    gap: 1.6rem;

    .input-group {
      display: flex;
      justify-content: space-between;
      gap: 5.6rem;
      align-items: center;
      height: 4.8rem;
    }

    p {
      display: block;
      width: 7.4rem;
      @include textStyle(smallText);
    }

    .lineid-wrapper {
      width: 100%;
      position: relative;
    }

    #lineidnotice {
      display: block;
      width: 100%;
      position: absolute;
      bottom: -1.4rem;
      left: 0;
      @include textStyle(xsText);
    }

    input {
      width: 100%;
    }
  }
}

.pu-btn-group {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  text-align: center;
}

//=========================================================
// petcard view

.petcardView {  //會更新的區塊
  width: 100%;
  padding: 2.4rem;
  // 標題 寵物資訊卡  
  .petcard-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;
  }
  // 氣直線
  .divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 2.4rem;
  }
  // 卡片的外層
  .petcard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .petcard{
      width: 48%;
      height: 48.8rem;
    }

    #addPetCard{
      width: 48%;
      height: 22rem;
      border: 1px dashed map-get($colors, natural-2 ) ;
      border-radius: 1.6rem;
    }

    #addPetCardBtn{
      margin: 0 auto;
        width: 16.8rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.6rem;
    }

    .ptc-top{
      width: 100%;
      height: 22rem;
      background-color: map-get($colors, natural-0);
    }

    .btn-group{
      @include textStyle(xsText);
    }
  }

}

//=======================
//訂閱紀錄
.subRecord{
//當前方案
  .sub-recently{
    width: 100%;
    margin-bottom: 4rem;
    .sr-title{
      display: flex;
      justify-content:space-between;
      align-items: center;
      margin-bottom: 1.6rem;
    }

    .divider{
      width: 100%;
      height: 1px;
      background-color: #ccc;
      margin-bottom: 2.4rem;
    }

    .sr-slider{
      display: flex;
      width: 100%;   
    }
  }
 //歷史紀錄
  .sub-history{
    .sh-title{
      display: flex;
      justify-content:space-between;
      align-items: center;
      margin-bottom: 1.6rem;
    }

    .divider{
      width: 100%;
      height: 1px;
      background-color: #ccc;
      margin-bottom: 2.4rem;
    }

    .sh-h{
      width: 100%;
      padding: 1.6rem 0;
      background-color: map-get($colors, natural-0 );
      border-radius: 1.6rem;
    }
  }

}
 //slider
.sr-slider .cards-container{
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 2.4rem;

  overflow-x: scroll;          /* 啟用水平滑動 */
  scroll-behavior: smooth;     /* 平滑滑動效果（可選） */ 
  .card{
    flex: 0 0 auto;  //不允許伸縮
    width: 31.2rem;
    height: 100%;
    padding: 0;
    background-color: map-get($colors, natural-0 );
    border-radius: 1.6rem;
    .card-title{
      display: flex;
      justify-content: start;
      width: 100%;
      padding: 0.8rem 2.4rem;
      border-bottom: 1px solid map-get($colors, natural-1 );
    }

    .card-content{
      width: 100%;
      height: 100%;
      padding: 2rem 2.4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2.4rem;
    }
  }

  &::-webkit-scrollbar {
    display: none;               /* Safari 和 Chrome */
  }
}

.sr-slider .card-content{
  .sr-items-group{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    .srItems{
      display: flex;
      justify-content: space-between;
    }
  }
}
 //歷史紀錄的表格
.sh-h{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 1.6rem 0;
  gap: .8rem;
  .sh-h-title{
    width: 100%;
    padding: .8rem 2.4rem;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 1px solid map-get($colors, natural-2);
    &:not(:nth-child(20)){
      flex:1 0 0;
    }
  }

  .sh-h-content{
    width: 100%;
    display: flex;
    padding: 0 2.4rem;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: .8rem;
    .sh-h-items{
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
    }

    .sh-h-items:not(:nth-child(20)){
      flex:1 0 0;
    }
  }
}

//========================================
// 小幫手中心
.helperCenter{
  .hc-not-passed{}
  .hc-passed{}
}

 // 無身分
.hc-not-passed{
  .hc-title{
    text-align: left;
    margin-bottom: 2.4rem;
  }

  .hc-nav{
    display: flex;
    justify-content: space-between;
    gap: 2.4rem;
    margin-bottom: 2.4rem;
    .hc-steps{
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.6rem 3.2rem;
      border-radius: .8rem;
      border: .1rem solid map-get($colors, natural-2 );
    }
  }

  .hc-post-manage{
    width: 100%;
    height: 22rem;
    .divider{
      width: 100%;
      height: 1px;
      background-color: #ccc;
      margin-bottom: .8rem;      
    }

    .hc-msg{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }


 }

 // 有身分
.hc-passed .hc-post-manage{
  width: 100%;
  //h6

  .divider{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-bottom: .8rem; 
  }

  .hc-grid-container{
    width: 100%;
    margin-top: 4rem;

    display: grid;
    grid-template-columns: 1fr; // 初始為單列 
    grid-gap: 3.2rem;              // 行列間距 
    max-width: 100%;            // 最大寬度限制 
    margin: 0 auto;              // 水平置中    
    .hc-postCard{}

    .postCard{
      width: 100%;
      height: 22rem;
      background-color: map-get($colors, natural-0 );
    }
  }

  /* 螢幕寬度 768px 及以上，改為 2列 */
  @media (min-width: 768px) {
    .hc-grid-container {
      grid-template-columns: repeat(2, 1fr); /* 2列 */
    }
  }
  
  /* 螢幕寬度 1024px 及以上，保持 2列 */
  @media (min-width: 1024px) {
    .hc-grid-container {
      grid-template-columns: repeat(2, 1fr); /* 仍為 2列 */
    }
  }

  .empty{
    width: 100%;
    height: 22rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px dashed map-get($colors, natural-2);
    border-radius: 1.6rem;
    .btn-group{
      height: 100%;
      width: 16.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.hc-passed .hc-postCard{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: .8rem ;
  .postCard{}  //元件

  .hc-btn-group{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    text-align: center;
    .btn-group{
      display: flex;
      justify-content: center;
      gap: 4rem ;
    }
  }
}