
    .petFriendBox {
        display: flex;
        justify-content: center;
        gap: 3.2rem;

        // 左 地點卡片
        .leftMain {
            max-width: 800px;

            .title {
                text-align: center;
                
                @include md(){
                h3{
                    @include textStyle(h5, bold);
                }

                p{
                    @include textStyle(smallText);
                }
            }
            
            }  

            // switch樣式
            .switch {
                position: relative;

                display: flex;
                align-items: center;

                width: 30rem;
                height: 3.6rem;
                margin: 4rem auto;
                border-radius: 100px;
                background-color: map-get($colors, blue-0);

                @include md(){
                    margin: 2.4rem auto 2.4rem;
                }  


                // 隱藏單選按鈕
                .switch-input {
                    display: none;
                }

                //位置條
                .slider {
                    position: absolute;

                    width: 25%;
                    height: 3.6rem;
                    border: 1px solid map-get($colors, blue-2);
                    border-radius: 40px;
                    background-color: map-get($colors , beige);

                    transition: transform .3s ease;
                }

                .labels {
                    display: flex;
                    justify-content: space-between;

                    width: 100%;
                    margin: 0.8rem 0.8rem;

                    label {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        z-index: 10;
                    }
                }


                /* 當某一選項被選中時，滑塊移動到相對應位置 */
                #hospital:checked~.slider {
                    transform: translateX(0);
                }

                #restaurant:checked~.slider {
                    transform: translateX(100%);
                }

                #park:checked~.slider {
                    transform: translateX(200%);
                }

                #hotel:checked~.slider {
                    transform: translateX(300%);
                }
            }

            .facilityCard{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr); /* 2欄，欄位寬度相等 */
                    gap: 3.2rem;

                    @include lg(){
                        grid-template-columns: repeat(1, 1fr); /* 1欄，欄位寬度相等 */

                    }

                .facilityCards{
                    max-width: 280px;

                    @include lg(){
                        margin: 0 auto;
                    }

                    .cardsContent {
                        
                        height: 288px;
                        border-radius: 16px;
                        margin-bottom: 1.6rem;

                        background-color: map-get($colors, beige);

                        img {
                            width: 100%;
                            height: 17.2rem;
                            border-radius: 16px;
                        }

                        .cardsBox {
                            padding: 1.2rem 2.4rem 2.4rem;

                            text-align: center;

                            .cardsTypeIcon {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                margin-bottom: 8px;

                                img{
                                    width: 16px;
                                    height: 16px;
                                    margin-right: 4px;
                                    flex-shrink: 0;
                                }
                                p{word-break: break-word}
                            }
                        }
                    }
                }
            }
        }

        .rightMain {
            width: 376px;

            @include md() {
                position: fixed;
                top: 0;
                left: 100%;

                width: 100vw;
                height: 100vh;

                transition: left 1s;

                z-index: 1500;  //超過header

                &.clicked {
                    left: 0;
                }
            }


            .mapBack{
                cursor: pointer;
                
                position: absolute;
                top: 10px;
                right: 10px;

                display: none; //RWD => display:flex
                justify-content: center;
                align-items: center;
                
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #fff;
                box-shadow: 0 0 4px rgb(114, 114, 114);

                z-index: 1600;

                @include md{
                    display: flex;
                }

                img{
                    width: 20px;
                    height: 20px;
                }
            }

            #map {
                position: sticky;
                top: 8rem;

                width: 100%;
                height: 80vh;
                border-radius: 20px;

                @include md(){
                    height: 100%;
                    border-radius: 0;
                }
            }
        }
    }
