.infoContainer {
    position: relative;
    background: map-get($colors, beige);
    max-width: 800px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 4rem;
    .field{
        display: flex;
        align-items: start;
        gap: 5.6rem;
        @include md(){
            flex-direction: column;
            gap: 1.2rem;
            align-items: start;
        }
        .petInfo{
            width: 8rem;
        }
        label{
            width: 6.4rem;
            @include textStyle(smallText);
    
        }
        .fieldInterest{
            padding-left: 1rem;
        }
        .dropdownMenu{
            position: relative;
            height: 4.6rem;

            text-align: left;
            
            &:last-child{
                margin: 0;
            }
            .dropDown{
                position: absolute;
                top: 0;

                width: 100%;
                border-color: map-get($colors, natural-1);

                z-index: 1000;
            }
            .city{
                z-index: 950; //上層需要壓過下層選單
            }
        }
        
        
    }
    .tags{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        gap: .8rem;
    }
    .infoTop{
        padding: 2.4rem;
        border-bottom: 1px solid map-get($colors, natural-1); 
        .closeBtn{
            display: flex;
            justify-content: flex-end;
        }
        h4{
            display: flex;
            justify-content: center;
        }
    }
    .infoWrap{
        display: flex;
        flex-direction: column;
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
        gap: 1.2rem;
        .wPhotoSec{
            display: flex;
            flex-direction: row-reverse;
            gap: 7.6rem;
            width: 100%;
            @include lg(){
                display: block;
                gap: .2rem;
            }
                .imgUpload{
                    cursor: pointer;
                    .imgUploadSection{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 16rem;
                        height: 14rem;
                        margin-bottom: 0.8rem;
                        border: 1px dashed map-get($colors, natural-1);
                        border-radius: 8px;
            
                        overflow-y: hidden;
                        @include lg() {
                            margin: 0 auto 2.4rem; 
                        }
                        .imgUploadText{
                            text-align: center;
                            color: map-get($colors, natural-2);
                        }
                        .uploadImgBox{
                            border-radius: 8px;
            
                            img{
                                width: 100%;
                                height: auto;
                            }
                        }
                    } 
                    .imgUploadBtn{
                        width: 8.8rem;
                        margin-left: calc(100% - 8.8rem);
                    }
                }
            .infoSection{
                display: flex;
                flex-direction: column;
                // justify-content: space-between ;
                gap: 1.2rem;
                .fieldWrapper{
                    .petName{
                        min-width: 30rem;
                        width: 75%;
                        @include sm(){
                            min-width: 22rem;
                        }
                    }
            }
        }
    }
        .birthdaySection{
            .birthFieldWrapper{
                .birthBox{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1.2rem;
                    .unknown{
                        margin-bottom: 16px;
                    }
                }
                .year,.month,.date{width: 12rem;}
            }
        }
        .breedOpt{
            min-width: 33rem;
            width: 75%;
            @include sm(){
                min-width: 22rem;
            }
        }
        .breedOptions{
            display: flex;
            align-items: center;
            text-align: center;
            gap: 1.2rem;
        }
        
    }
    .saveBtnBox{
        position: absolute;
        max-width: 65.6rem;
        width: 100%;
        padding: 0 1.2rem;
        display: flex;
        flex-direction: column;
        left: 50%;
        bottom: -10%;
        transform: translateX(-50%);
    }
  }
  