@mixin box(){
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 384px;
    height: calc(100vh - 12.6rem);
    margin: 0 auto;
    // border: 1px solid;
    .borderBottom{
        width: 10rem;
        margin: 0 auto;
    }
    .left{
        text-align: left; 
        margin-left: 1rem;
    }
    .firstBox{
        height: calc(100vh - 12.6rem);
        }
    .questionContainer {
        @include question-container();
        .quickLogin{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            .check{
                width: 7rem;
            } 
        }
        .options {
            display: flex;
            flex-direction: column;
            align-self: stretch;
            gap: 8px;
            margin-top: 4rem;
            margin-bottom: 4rem;
            .dropdownMenu{
                position: relative;
                height: 4.6rem;
                margin-bottom: 16px;

                text-align: left;
                &:last-child{
                    margin: 0;
                }
                .dropDown{
                    position: absolute;
                    top: 0;

                    width: 100%;
                    border-color: map-get($colors, natural-1);

                    z-index: 900;
                }
                .city{
                    z-index: 950; //上層需要壓過下層選單
                }
            }
            .smallText{margin-bottom: 4rem;}
            .birthday{
                display: flex;
                gap: .4rem;
                .year{width: 14.4rem;}
                .month{width: 11.2rem;}
                .date{width: 11.2rem;}
            }
            .first{
                margin-bottom: 4rem;
                border-radius: 16px;
            }
            
        }
    }
}
@mixin question-container() {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    z-index: 10;
}
@mixin progressBar() {
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1.6rem 2.4rem;
    border: 1px solid white;
    .progressBar {
        display: flex;
        gap: .8rem;
        .progressSegment {
            flex: 1;
            margin: 0 auto;
            width: 14.3rem;
            width: 100%;
            height: .4rem;
            border-radius: 10rem;
            background: map-get($colors, beige);
            &.filled {
                background: map-get($colors, red);
            }
        }
    }
}
//內文
body{
    position: relative;
}
.circleQuestion {
    @include circle(map-get($colors, pink-1));
    position: fixed;
    top:12%; 
    left: 50%;
}
.box{
    @include box();
}

// .progressBarContainer {
//     @include progressBar();
// }
.boxSub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 12.6rem);
    // margin: 0 auto;
    // border: 1px solid ;
    @include md(){
        // display: block;
        // margin: 0 1.2rem;
    }
    .planItems{
        list-style: disc;
        padding-left: 2rem;
    }
    .boxDivider {
        width: 256px;
        height: 0.1rem;
        background-color: map-get($colors, pink-1);
        border: none;
        margin: 1.6rem auto;
        @include md(){
            // display: none;
        }
    }
    h4{
        text-align: center;
        margin-bottom: 4rem;
    }
    .subBtn{
        max-width: 384px;
        margin: 0 auto;
        .borderBottom{
            width: 10rem;
            margin: 0 auto;
        }
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 3.2rem;
        margin: 0 auto 4rem;
        @include lg(){
            flex-wrap: nowrap;
            // gap: 1.2rem;
        }
        .card {
            cursor: pointer;
            position: relative;
            display: inline-flex;
            flex-direction: column;
            width: 28rem;
            max-height: 44rem;
            height: 60vh;
            padding: 0.8rem;
            background-color: map-get($colors, beige);
            border-radius: 1.6rem;
            @include sm(){
                height: auto;
            }
            &.-active{
                border:1px solid map-get($colors, red) ;
            }
            &:hover {
                border: 1px solid map-get($colors, red);
            }
            &.popular::before {
                content: '最熱門';
                position: absolute;
                display: flex; 
                align-items: center; 
                justify-content: center; 
                text-align: center;
                width: 6.4rem;
                height: 3.2rem;
                top: 0.4rem; 
                right: 0.4rem; 
                transform: translate(8%, -15%);
                background-color: map-get($colors, red); 
                color: map-get($colors, beige);
                border-radius: 0 1.6rem 0 1.6rem;
                font-size: 1.3rem; 
                @include md(){
                    // width: 3.4rem;
                    // height: 2.2rem;
                    // top: 0.5rem; 
                    // right: 0.5rem; 
                    // transform: translate(15%, -25%);
                    // border-radius: 0 .8rem 0 .8rem;
                    // font-size: .9rem; 
                }
            }
            .red{color: map-get($colors, red);}
            .image {
                max-width: 26.4rem; 
                overflow: hidden;
                border-radius: 1.6rem;
                img {
                    width: 100%;
                    @include sm(){
                        // display: none;
                    }
                }
            }
            .content {
                display: flex;
                flex-direction: column;
                margin-bottom: auto;
                .title{
                    display: flex;
                    margin: 0 auto;
                }
                @include md(){
                }
            }
        }
    }
}
.boxSubPlan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 12.6rem);
    h4{
        text-align: center;
        margin-bottom: 4rem;
    }
    .subBtn{
        max-width: 384px;
        margin: 0 auto;
        .borderBottom{
            width: 10rem;
            margin: 0 auto;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .8rem;

        margin: 0 auto 4rem;
        @include lg(){
            flex-wrap: nowrap;
        }
        .card {
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 41.8rem;
            padding: 1.6rem;
            background-color: map-get($colors, beige);
            border-radius: 100rem;
            gap: 2.4rem;
            @include sm(){
                height: auto;
            }
            .times{width: 4rem;}
            .subMonths{width: 8.4rem;}
            .price{width: 7.8rem;}


            &.-active{
                border:1px solid map-get($colors, red) ;
            }
            &:hover {
                border: 1px solid map-get($colors, red);
            }
            &.popular::before {
                content: '最推薦';
                position: absolute;
                display: flex; 
                align-items: center; 
                justify-content: center; 
                text-align: center;
                width: 6.4rem;
                height: 3.2rem;
                // top: 0.5rem; 
                right: 0.5rem; 
                transform: translate(-30%);
                background-color: map-get($colors, red); 
                color: map-get($colors, beige);
                border-radius: 100rem;
                font-size: 1.3rem; 
                @include md(){
                }
            }
            .red{color: map-get($colors, red);}
            .image {
                max-width: 26.4rem; 
                overflow: hidden;
                border-radius: 1.6rem;
                img {
                    width: 100%;
                }
            }
            .content {
                display: flex;
                flex-direction: column;
                margin-bottom: auto;
                .title{
                    display: flex;
                    margin: 0 auto;
                }
                @include md(){
                }
            }
        }
    }
}

.boxPayment{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 592px;
    height: calc(100vh - 12.6rem);
    margin: 0 auto;
    // border: 1px solid;
    @include md(){
        margin: 0 1.2rem;
    }
    h4{
        text-align: center;
        margin-bottom: .8rem;
    }
    .planItems{
        list-style: disc;
        padding-left: 2rem;
    }
    .paymentBox{
        // padding-bottom: 1.6rem;
        .textBox{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: .4rem .8rem;
        }
        .boxDivider{
            width: 100%;
            height: 0.1rem;
            background-color: map-get($colors, brown);
            border: none;
        }
    }
    .infoBox{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        margin-bottom: 1.6rem;
        .cardInfo{
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1.2rem;
            .dropdownMenu{
                position: relative;
                height: 4.6rem;
                margin-bottom: 16px;

                text-align: left;
                &:last-child{
                    margin: 0;
                }
                .dropDown{
                    position: absolute;
                    top: 0;

                    width: 100%;
                    border-color: map-get($colors, natural-1);

                    z-index: 900;
                }
                .city{
                    z-index: 950; //上層需要壓過下層選單
                }
            }
        }
        .info{width: 100%;}
    }
    .checkBox{
        display: flex;
        flex-direction: column;
        margin-bottom: 1.2rem;
        input[type="checkbox"] {
            appearance: none;
            width: 1.6rem;
            height: 1.6rem;
            border: 2px solid map-get($colors, natural-2); 
            border-radius: .4rem; 
            cursor: pointer;
            &:checked {
                background-color: map-get($colors, brown); 
                border-color: map-get($colors, brown); 
              }
              &:checked::after{
                content: '\2713'; 
                color: map-get($colors, pink-1); 
                display: flex;
                font-size: 1.2rem;
                justify-content: center;
                align-items: center;
                position: absolute;
                transform: translate(15%, -15%);
              }
        }
        .boxAlign{
            display: flex;
            gap: .8rem;
        }
        .link{
            cursor: pointer;
            color: map-get($colors, red);
            text-decoration: underline;
        }
    }
}
.boxFinish{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:537px;
    height: calc(100vh - 12.6rem);
    margin: 0 auto;
    // border: 1px solid;
    .finishBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 288px;
        background: map-get($colors, beige);
        border-radius: 2rem;
        padding: 5.6rem;
        // border: 1px solid;
        h4{padding-bottom: 1.6rem;}
        .padding{padding-top: 4rem;}
    }
}
.policy{
    overflow-y: auto;
    height: 50rem;
    h6{
    text-align: center;
    margin:2.4rem 0;
    }
}
