 body{
    background-color: map-get($colors, pink-0);
    position: relative;
}    
.heroSection {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 56rem;
    background-color: map-get($colors, pink-2);
    .img {
        max-width: 100%;
        height: auto;

        @include md(){
            display: none;
        }
    }
    .herobtn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 28.8rem;
        gap: 3.1rem;

        color: map-get($colors, red);  

        @include md(){
            margin: 0 auto;
        }
        .btnBox{
            width: 100%;
        }
    }
}
  .boxTitle1 {
    // z-index: 10;
    display: flex;
    position: relative;
    justify-content: center;
    color: map-get($colors, red);
    margin-bottom: 3rem;
    margin-top: 30rem;
    .bigText {
        z-index: -5;
        position: absolute;
        left: 9.1rem;
        top: 0.1rem;
        transform: translate(20px, -120px);
        color: map-get($colors, pink-1);
    }
}
.boxContainer {
    display: flexbox;
    max-width: 121.6rem;
    width: 100%;
    padding: 4rem;
    margin: 0 auto;
    background-color: map-get($colors, beige);
    border-radius: 2rem;
    .boxSection {
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include md(){
            display: grid;
        }
        .boxImage {
            img {
                width: 55.2rem;
                height: auto;
                background-color: map-get($colors, beige);
                border-radius: 0.8rem;
            }
        }
        .boxText {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h4.bold {
                margin: 0;
            }
            p.default {
                margin: 0;
            }
        }
    }
    .boxDivider {
        width: 100%;
        height: 0.1rem;
        background-color: map-get($colors, pink-1);
        border: none;
    }
}
.boxTitle2 {
    display: flex;
    position: relative;
    justify-content: center;
    color: map-get($colors, red);
    margin-top: 19.2rem;
    .bigText {
        z-index: -5;
        position: absolute;
        top: 0.1rem;
        transform: translate(20px, -120px);
        text-align: center;
        color: map-get($colors, pink-1);
    }
}
// Component
.circleSplootBox {
    @include circle(map-get($colors, pink-1));
    z-index: -20;
    position: absolute;
    top: 67%; 
    left: 50%;
}
.howitworks {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 132.8rem;
    margin: 0 auto; 
    width: 100%;
    
    .howitworks_section {
        display: flex;
      .title {
            text-align: center;
            color: map-get($colors, brown);
            @include bayon(56);
            margin: 1rem 1rem;
            padding: 0.8rem;
            background-color: map-get($colors, beige);
            border-radius: 0.8rem;
        img {
            width: 100%;
            height: auto;
            border-radius: 0.4rem;
        }
      }
    }
}
.howitworksbtn {
    display: flex; 
    justify-content: center; 
    width: 17.6rem; 
    margin: 0 auto; 
}
// 評語區塊
.testmonialWrapper {
    .boxTitle3 {
        position: relative;
        text-align: center;
        top: 32rem;
        .feedback-title {
            color: map-get($colors, red);
        }
        .feedback-content {
            margin: 2.4rem auto;
            max-width: 600px;
            color: map-get($colors, red);
        }
    }
    .boxTitle4 {
        z-index: -10;
        position: relative;
        text-align: center;
        top: 44rem;
        color: map-get($colors, red);
    }
    .reviews-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 1rem;
        top: 47rem;
        .review-card {
            display: inline-flex;
            flex-direction: column;
            width: 28rem;
            padding: 0.8rem;
            background-color: map-get($colors, beige);
            border-radius: 0.8rem;
            gap: 2.4rem;
            padding-bottom: 2.4rem;
            .review-image {
                width: 100%; 
                height: 70%; 
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img {
                    width: 100%; 
                    height: 100%; 
                    object-fit: cover; 
                }
            }
            .review-content {
                display: flex;
                flex-direction: column;
                height: 13.6rem;
                gap: 1.6rem;
            }
        }
    }
}
.newsSection {
    position: relative;
    display: inline-flex;
    top: 58rem;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
// faq區塊
.faqWrapper {
    @include bayon(100);
    max-height: 66rem;
    width: 100%;
    margin-top: 66rem;
    .faqTitle {
        display: flex;
        justify-content: center;
        margin-top: 6rem;
        color: map-get($colors, red);
    }
    .faqContainer {
        width: 100%;
        max-width: 121.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .8rem;
        margin: 0 auto;
        padding: 0 1.6rem;
        margin-bottom: 16rem;
    }
}

