 body{
    background-color: map-get($colors, pink-0);
    position: relative;
    overflow-x: hidden !important;
} 
.herobox {
    position: relative;
    width: 100%; 
    height: 56rem; 
    // background-color: transparent;
    @include md(){
        // background-color: map-get($colors, pink-2);
    }                  
    .img {
        position: absolute;
        z-index: -5;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        object-position: 50% 100%; 
        @include md(){
        // display: none;
      }
    }
    .herobtn {
      position: absolute;
      top: 50%; 
      left: 30%; 
      transform: translate(-50%, -50%); 
      z-index: 5; 
      text-align: center;
      @include lg(){left: 50%;}
      h4.bold {
        color: map-get($colors, beige);
        @include md(){
            // color: map-get($colors, red);  
        }
      }
      .btnBox {
        margin-top: 10px;
        width: 22rem;
      }
    }
  }
//   SPLOOT BOX大字區塊
.bigTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
     margin-top: 30rem;
     margin-bottom: 3rem;
    .boxTitle {
        display: flex;
        position: relative;
        justify-content: center;
        color: map-get($colors, red);
       
        width: 100%;
        @include md(){
            font-size: 2rem;
        }
        h4{
            z-index: 10;
        }
        p {
            z-index: -5;
            position: absolute;
            top: 0.1rem;
            transform: translate(20px, -120px);
            color: map-get($colors, pink-1);
            @include bayon(190);
            font-weight: 400;
            line-height: 171px;
            @include md(){
                @include bayon(80);
            }
        }
    }
}
.boxContainer {
    display: flex;
    flex-direction: column;
    max-width: 121.6rem;
    width: 85%;
    padding: 4rem;
    margin: 0 auto;
    background-color: map-get($colors, beige);
    border-radius: 2rem;
    .boxSection {
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.8rem;
        @include lg(){
            display: flex;
            flex-direction: column;
        }
        .text.boxText{
            order: 0;
            @include lg(){
                order: 1;
            }
        }
        .boxImage {
            img {
                width: 55.2rem;
                height: auto;
                background-color: map-get($colors, beige);
                border-radius: 0.8rem;
                @include lg(){
                    width: 100%;
                }
            }
        }
        .boxText {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h4.bold {
                margin: 0;
            }
            p.default {
                margin: 0;
            }
        }
    }
    .boxDivider {
        width: 100%;
        height: 0.1rem;
        background-color: map-get($colors, pink-1);
        border: none;
        margin: 3.2rem 0;
    }
}
// 背景圓圈
.circleSplootBox {
    @include circle(map-get($colors, pink-1));
    z-index: -20;
    position: absolute;
    object-fit: cover;
    top: 67%; 
    left: 50%;
}
// 如何訂閱區塊
.howitworks {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 132.8rem;
    margin: 0 auto; 
    text-align: center;
    width: 100%;
    .howitworks_section {
        display: flex;
      .title {
            color: map-get($colors, brown);
            @include bayon(56);
            padding: 0.8rem;
            background-color: map-get($colors, beige);
            border-radius: 0.8rem;
        img {
            width: 100%;
            height: auto;
            border-radius: 0.4rem;
        }
      }
    }
}
.howitworksbtn {
    position: relative;
    display: flex; 
    justify-content: center; 
    top: 8rem;
    .btnBox{
        width: 18rem;
    }
}
// 評語區塊
.reviewTitle {
    display: block;
    position: relative;
    max-width: 590px;
    text-align: center;
    margin: 20rem auto;
    color: map-get($colors, red);
    @include sm(){
        max-width: 342px;
    }
    .boxTitle3 {
        text-align: center;
        .feedback-content {
            margin: 2.4rem auto;
            max-width: 600px;
        }
    }
}
.reviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 5rem;
    .review-card {
        display: inline-flex;
        flex-direction: column;
        max-width: 280px;
        padding: 0.8rem;
        background-color: map-get($colors, beige);
        border-radius: 0.8rem;
        gap: 0.8rem;
        padding: 0.8rem;
        height: 36.8rem;
        .review-image {
            max-width: 26.4rem; 
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 0.8rem;
            img {
                width: 100%; 
                height: 20.8rem;
                object-fit: cover; 
            }
        }
        .review-content {
            display: flex;
            flex-direction: column;
        }
    }
}
// testmonial大字
.box4 {
    z-index: -10;
    position: relative;
    text-align: center;
    top: -3rem;
    color: map-get($colors, red);
    p{
        @include lg(){
            @include bayon(120);
        }
        @include md(){
            @include bayon(80);
        }
        @include sm(){
            @include bayon(64);
        }
    }
}
// 訂閱電子報
.news {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; 
    max-width: 38.6rem;
    top: 16rem;
    left: 50%;
    transform: translate(-50%, -50%);
    
    .newsSection {
        flex-direction: column;
        display: inline-flex;
        align-items: stretch;
        gap: 1rem;
    }
}
// FAQ區塊
.faqWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: map-get($colors, pink-1);
    @include bayon(100);
    width: 100%;
    margin: 0 auto;
    margin-top: 14rem;
    .faqTitle {
        display: flex;
        justify-content: center;
        margin-top: 6rem;
        color: map-get($colors, red);
        // margin-bottom: 14rem;
    }
    .faqContainer {
        width: 100%;
        max-width: 121.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .8rem;
        margin: 0 auto;
        padding: 0 1.6rem;
        margin-bottom: 16rem;
    }
}

