// -------- Font --------
$bayon: "Bayon", serif;
$notoSansTC: "Noto Sans TC", serif;

.bayon { font-family: $bayon; }
.notoSansTC{ font-family: $notoSansTC; }

// -------- Headings -------- 
$fontSize: (
    bigText: 19rem,
    h1: 6.1rem,
    h2: 4.9rem,
    h3: 3.9rem,
    h4: 3.1rem,
    h5: 2.5rem,
    h6: 2rem,
    p: 1.6rem,
    smallText: 1.3rem,
    xsText: 1rem
);
    
$lineHeight: (
    bigText: auto,
    h1: 8rem,
    h2: 6.4rem,
    h3: 5.6rem,
    h4: 4.8rem,
    h5: 3.6rem,
    h6: 3.2rem,
    p: 2.4rem,
    samllText: 2.2rem,
    xsText: 2rem
);
$fontWeight-default: 300;
$fontWeight-black: 500;


.bigText{
    font-family: $bayon;
    font-size: map-get($fontSize, bigText);
    line-height: auto;
}
h1, h2, h3, h4, h5, h6, p, .smallText{
    font-family: $notoSansTC;
    color: map-get($colors, brown);
    font-weight: 300;
    &.textBlack{
        font-weight: $fontWeight-black;
    }
}
h1 {
    font-size: map-get($fontSize, h1);
    line-height: map-get($lineHeight, h1);
}

h2 {
    font-size: map-get($fontSize, h2);
    line-height: map-get($lineHeight, h2);
}

h3 {
    font-size: map-get($fontSize, h3);
    line-height: map-get($lineHeight, h3);
}

h4 {
    font-size: map-get($fontSize, h4);
    line-height: map-get($lineHeight, h4);
}

h5 {
    font-size: map-get($fontSize, h5);
    line-height: map-get($lineHeight, h5);
}

h6 {
    font-size: map-get($fontSize, h6);
    line-height: map-get($lineHeight, h6);
}

p {
    font-size: map-get($fontSize, p);
    line-height: map-get($lineHeight, p);
}
.smallText{
    font-size: map-get($fontSize, smallText);
    line-height: map-get($lineHeight, smallText);
}
.xsText{
    font-size: map-get($fontSize, xsText);
    line-height: map-get($lineHeight, xsText);
}
// -------- Settings --------