.btn{
    width: 100%;
    cursor: pointer;
    font-family: $notoSansTC;
    text-align: center;

    &.primary{
        border-radius: 100px;
        background-color: map-get($colors, red);
        color: map-get($colors, beige);
    }
    &.outline{
        border-radius: 100px;
        border: 1px solid map-get($colors, red);
        color: map-get($colors, red);
    }
    &.text{
        color: map-get($colors, red);
        border-bottom: 1px solid map-get($colors, red);
    }
    &.white{
        border-radius: 100px;
        background-color: map-get($colors, natural-0);
        color: map-get($colors, red);
    }
    &.large{
        height: 4.8rem;
        padding: .8rem 1.6rem;
        font-size: map-get($fontSize, h6);
        line-height: map-get($lineHeight, h6);
        font-weight: $fontWeight-black;
    }
    &.default{
        height: 4rem;
        padding: .8rem 1.6rem;
        font-size: map-get($fontSize, p);
        line-height: 4rem;
        font-weight: $fontWeight-black;
    }
    &.small{
        height: 3rem;
        padding: .4rem 1.6rem;
        font-size: map-get($fontSize, smallText);
        line-height: 3rem;
        font-weight: $fontWeight-black;
    }
}