.btn{
    cursor: pointer;
    width: 100%;
    border-radius: 100px;

    font-family: $notoSansTC;
    font-weight: $fontWeight-black;
    text-align: center;

    // Style
    &.primary{
        background-color: $red;
        color: $beige;
    }
    &.outline{
        border: 1px solid $red;
        color: $red;
    }
    &.text{
        border-radius: 0;
        color: $red;
        border-bottom: 1px solid $red;
    }
    &.white{
        background-color: $natural-0;
        color: $red;
    }

    // Size
    &.large{
        @include h6();
        height: 4.8rem;
        padding: .8rem 1.6rem;
    }
    &.default{
        @include p();
        height: 4.8rem;
        padding: .8rem 1.6rem;
    }
    &.small{
        @include smallText();
        height: 3rem;
        padding: .4rem 1.6rem;
    }
}