$headerThemes: (
    red: red,
    blue: blue,
);
@each $theme, $value in $headerThemes {
    header.#{$theme}Theme{
        position: sticky;
        top: 0;
        z-index: 1000;
        
        width: 100%;
        margin-bottom: 24px;
        
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
        
            width: 100%;
            max-width: 1512px;
            height: 6.4rem;
            padding: 1.6rem 4.8rem;
            margin: 0 auto;
        
            @include md(){
                padding: 1.2rem 1.6rem;
            }
        
            .navHamburger{
                display: none;
        
                @include md(){
                    cursor: pointer;
                    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: .8rem;
        
                    width: 8rem;
                    .line{
                        width: 2.4rem;
                        height: 3px;
                        background-color: map-get($colors, $value);
                    }       
                }
            }
        
            .logo{
                width: 8rem;
                img{ width: 6.4rem; }
        
                @include md(){
                    width: 5.4rem;
                    img{ width: 100%; }
                }
            }
        
            .headerList{
                @include textStyle(smallText);
                display: flex;
                gap: 2.4rem;
        
                @include md(){ display: none; }
        
                a{
                    display: block;
                    height: 4.8rem;
                    font-weight: 400;
        
                    color: map-get($colors, $value);
                    line-height: 4.8rem;  
                    
                    &::after{
                        content: "";
                        bottom: 0;
                        left: 0;
                        
                        display: block;
                        width: 0;
                        border: 1px solid map-get($colors, $value);
        
                        opacity: 0;
                        visibility: hidden;
        
                        transition: all .5s;
                    }
                    &:hover::after{
                        width: 100%;

                        opacity: 1;
                        visibility: visible;
                    }
                }
                
            }
        
            .loginBox{
                display: flex;
                align-items: center;
                justify-content: center;

                width: 8rem;

                .btn{
                    width: 6.4rem;
                    transition: all .3s ease;

                    &:hover{ width: 100%; }
                }

                @include md(){
                    .btn.blue.small{
                        background-color: transparent;
                        color: map-get($colors, blue);

                        span::after{ background-color: map-get($colors, blue); }
                    }
                    .btn.primary.small{
                        background-color: transparent;
                        color: map-get($colors, red);

                        span::after{ background-color: map-get($colors, red); }
                    }

                }
            }
        }
    }   
}