// $headerThemes: (red ,blue);
@each $theme in $themes {
    body.#{$theme}Theme{
        header{
            position: sticky;
            top: 0.8rem;
            left:0.8rem;
            right: 0.8rem;
            z-index: 1000;
            width: calc(100% - 1.6rem);
            
            nav{
                display: flex;
                align-items: center;
                justify-content: space-between;
                            
                height: 6.4rem;
                padding: 1.6rem;
                margin: 0 auto;


                @include md(){
                    //padding: 1.2rem 1.6rem;
                    background: rgba(255, 255, 255, 0.5);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    border-radius: 100px;
                }

                .memberLogo{
                    border: 1px solid map-get($colors, natural-0);
                    border-radius: 50%;
                }
            
                .navHamburger{
                    display: none;
            
                    @include md(){
                        cursor: $hoverPointer;
                        
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
            
                        width: 3.6rem;
                        height: 1.2rem;
                        .line{
                            width: 2.4rem;
                            height: 2px;

                            background-color: map-get($colors, $theme);
                            transition: all .3s ease;
                        }  
                        
                        &.-navFocus{
                            .line:first-child{
                                transform: translateY(.5rem) rotate(45deg);
                                transition: transform .3s ease;
                            }
                            .line:last-child{
                                transform: translateY(-.5rem) rotate(-45deg);
                                transition: transform .3s ease;
                            }
                        }
                    }
                }
            
                .logo{
                    img{ width: 5.6rem; }
            
                    @include md(){
                        img{ width: 5.4rem; }
                    }
                }
            
                .headerList{
                    display: flex;
                    gap: 2.4rem;
                    padding: 0 1.6rem;

                    border-radius: 2.4rem;
                    background: rgba(255, 255, 255, 0.5);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
    
                    &:hover{
                        background-color:map-get($colors, beige);
                    }

                    @include md(){
                        position: absolute;
                        top: -100vh;
                        left: 0;
                        z-index: -1;
    
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        width: 100vw;
                        height: 100vh;
                        background-color:map-get($colors, beige);
                        backdrop-filter: unset;
                        -webkit-backdrop-filter: unset;

                        text-align: center;
                        transition: all .6s ease;
                        &.-navFocus{
                            top: 0;
                            
                        }
                    }
            
                    a{
                        @include textStyle(p);
                        
                        // .btn.primary.small{
                        //     @include textStyle(p);
                        //     background-color: transparent;
                        //     color: map-get($colors, $theme);
    
                        //     span::after{ background-color: map-get($colors, $theme); }
                        // }
                        display: block;
                        color: map-get($colors, $theme);
                        line-height: 4.8rem;  

                        @include md(){
                            @include textStyle(h5, bold);
                            color: map-get($themeColors, $theme);
                        }
                        
                        // &::after{
                        //     content: "";
                        //     bottom: 0;
                        //     left: 0;
                            
                        //     display: block;
                        //     width: 0;
                        //     border: 1px solid map-get($colors, $theme);
            
                        //     opacity: 0;
                        //     visibility: hidden;
                        //     transition: all .5s;
                        // }
                        // &:hover::after{
                        //     width: 100%;
                        //     opacity: 1;
                        //     visibility: visible;

                        //     @include md(){ opacity: 0; }
                        // }
                    }
                    .memberCenter{
                        display: none;

                        @include md(){
                            display: block;
                            a{
                                height: auto;
                                .memberLogo{ width: 8.5rem; }
                                p{ @include textStyle(h5, bold); }
                            }
                        }

                    }
                    
                }
            
                .loginBox{
                    @include md(){
                        .btn.primary.default{
                            background-color: transparent;
                            color: map-get($colors, $theme);
    
                            span::after{ background-color: map-get($colors, $theme); }
                        }
    
                    }
                }
                .logOutBox{
                    display: flex;
                    gap: 2.4rem;
                    .memberLogo{
                        width: 4.8rem;
                        border: 1px solid map-get($colors, natural-0);
                        border-radius: 50%;
                    }
                    @include md(){
                        width: 3.6rem;
                        a{ display: none; }
                    }
                }
            }
        }   
    }
}