header{
    z-index: 500;
    margin: 0 auto 56px;

    width: 100%;
    max-width: 1512px;
    height: 8rem;
    padding: 1.6rem 4.8rem;

    // RWD
    @include md(){
        padding: 1.4rem 1.2rem;
    }
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;

    position: sticky;
    top: 0;
    transition: all .5s;

    .logo{
        width: 6.4rem;
        height: 4.8rem;

        img{
            width: 6.4rem;
            height: 4.8rem;
        }
    }
   
    nav{
        @include md(){
            display: none;
        }
    }

    .headerList{
        display: flex;
    }

    .headerItem{
        margin-right: 2.4rem;
        font-size: clamp(1rem,1.4vw,1.4rem);


        a{
        // color: map-get($colors, red);
        font-family: "Noto Sans TC";
        font-weight: 500;
    
        position: relative;

        &::after{
            content: "";
            display: block;
            width: 0;
            border: 1px solid  map-get($colors, red);

            position: absolute;
            top: calc(1.4rem + 16px);
            left: 0;

            opacity: 0; 
            visibility: hidden;


            transition: all .5S;

            
        }
        &:hover::after{
            opacity: 1;
            width: 100%;
            visibility: visible; /*顯示*/
        
            transform: translate(0);
        }

        }
    }

    .loginBox{
        display: flex;
        justify-content: flex-end;
        @include md(){
            width: auto;
        }

        .login{
            all: unset;   /*移除預設*/
            cursor: pointer;

            padding: 0.8rem 1.6rem;
            background-color:  map-get($colors, red);
            border-radius: 100px;

            display: flex;
            align-items: center;
            font-family: "Noto Sans TC, serif";
            font-size: 1.4rem;
            font-weight: 500;
            color: map-get($colors, beige);
        }
    }

    // RWD預設
    .navHamburger{
        display: none;

        @include md(){
            display: block;
             padding: 1.6px 0.8px;
             box-sizing: border-box;
        }
    }

    .line{
        @include md(){
            width: 48px;
            border: 1.5px solid  map-get($colors, red);
            margin-bottom: 1.2rem;
        }
    }

}