// -------- Screen Size --------
@mixin xs(){
    @media screen and (max-width: $media_xs){
        @content;
    }
}
@mixin sm(){
    @media screen and (max-width: $media_sm){
        @content;
    }
}
@mixin md(){
    @media screen and (max-width: $media_md){
        @content;
    }
}
@mixin lg(){
    @media screen and (max-width: $media_lg){
        @content;
    }
}
@mixin xl(){
    @media screen and (max-width: $media_xl){
        @content;
    }
}

// -------- Typography (Font) --------
@mixin bayon($fz){
    font-family: $bayon;
    font-size: ($fz / 10)+ rem;
    line-height: auto;
}
@mixin h1(){
    font-family: $notoSansTC;
    font-size: map-get($fontSize, h1);
    font-weight: $fontWeight-default;
    line-height: map-get($lineHeight, h1);

}

@mixin h2(){
    font-family: $notoSansTC;
    font-size: map-get($fontSize, h2);
    font-weight: $fontWeight-default;
    line-height: map-get($lineHeight, h2);
}

@mixin h3(){
    font-family: $notoSansTC;
    font-size: map-get($fontSize, h3);
    font-weight: $fontWeight-default;
    line-height: map-get($lineHeight, h3);
}

@mixin h4(){
    font-family: $notoSansTC;
    font-size: map-get($fontSize, h4);
    font-weight: $fontWeight-default;
    line-height: map-get($lineHeight, h4);
}

@mixin h5(){
    font-family: $notoSansTC;
    font-size: map-get($fontSize, h5);
    font-weight: $fontWeight-default;
    line-height: map-get($lineHeight, h5);
}

@mixin h6(){
    font-family: $notoSansTC;
    font-size: map-get($fontSize, h6);
    font-weight: $fontWeight-default;
    line-height: map-get($lineHeight, h6);
}

@mixin p(){
    font-family: $notoSansTC;
    font-size: map-get($fontSize, p);
    font-weight: $fontWeight-default;
    line-height: map-get($lineHeight, p);
}

@mixin smallText(){
    font-family: $notoSansTC;
    font-size: map-get($fontSize, smallText);
    font-weight: $fontWeight-default;
    line-height: map-get($lineHeight, smallText);
}

@mixin xsText(){
    font-family: $notoSansTC;
    font-size: map-get($fontSize, xsText);
    font-weight: $fontWeight-default;
    line-height: map-get($lineHeight, xsText);
}

.textBlack{
    font-weight: $fontWeight-black;
}
.bigText{
    font-family: $bayon;
    font-size: map-get($fontSize, bigText);
    line-height: auto;
}
.bayon-20{ @include bayon(20); }
h1{ @include h1(); }
h2{ @include h2(); }
h3{ @include h3(); }
h4{ @include h4(); }
h5{ @include h5(); }
h6{ @include h6(); }
p{ @include p(); }
.smallText{ @include smallText(); }
.xsText{ @include xsText(); }

// -------- Buttons / Dropdowns --------
@mixin dropdownBasic($type){
    cursor: pointer;

    display: flex;
    flex-direction: column;

    width: 100%;
    border: 1px solid $red;
    background-color: $natural-0;
    border-radius: 20px;

    @if ($type == qa){
        gap: 1.6rem;
        padding: 1.6rem 1.6rem;
    }@else if ($type == menu){
        gap: .4rem;
        padding: .4rem 1.6rem; 
    }

    hr{
        width: 100%;
        border: 1px solid $natural-1;
    }

}