@mixin dropdownBasic($type){
    cursor: pointer;

    display: flex;
    flex-direction: column;
    
    width: 100%;
    border: 1px solid map-get($colors, red);
    background-color: map-get($colors, natural-0);
    border-radius: 16px;
    
    @if ($type == qa){
        gap: 1.6rem;
        padding: 1.6rem 1.6rem;
    }@else if ($type == menu){
        gap: .4rem;
        padding: .8rem 1.6rem; 
    }
    
    hr{
        width: 100%;
        border: 1px solid map-get($colors, natural-1);
    }
    
}

// -------- Dropdown Q&A --------
.dropdown-qa{
    @include dropdownBasic(qa);
    @include textStyle(p);

    max-height: 6.4rem;
    transition: all .3s ease;
    transition-delay: 1s;

    .question-block{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .question{
            display: flex;
            gap: 2rem;

            span{
                font-family: $bayon;
                font-size: 3.2rem;
            }
        }
        .expandBtn{ 
            width: 2.4rem;
            transition: transform .5s ease;
        }
    }

    .answer{
        display: flex;
        gap: 2rem;

        span{
            font-family: $bayon;
            font-size: 3.2rem;
        }
    }

    // 點擊展開後
    &.-expand{
        max-height:fit-content;

        .expandBtn{ transform: rotate(180deg) }
    }
}

// -------- Dropdown Menu --------
.dropdown-menu{
    @include dropdownBasic(menu);
    @include textStyle(p);

    .dropdownBtn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .expandBtn{ 
            width: 2.4rem;
            transition: transform .5s ease;
        }
    }

    .dropdownList{
        display: flex;
        flex-direction: column;
        gap: .8rem;

        li{
            span{
                display: inline-block;
                position: relative;
                transition: all .3s ease;

                &::after{
                    content: '';
                    position: absolute;
                    top: calc(50% - 2px);
                    right: -.8rem;

                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: map-get($colors, brown);

                    opacity: 0;
                    transition: all .3s ease;
                }
            }
            &:hover{
                span{
                    transform: translateX(.8rem);
                    &::after{ opacity: 1; }
                }
            }
        }
    }

    &.-expand{
        .expandBtn{ transform: rotate(180deg) }
    }

}



