body.clicked{
    overflow-y: hidden;
    }

.popUp{
    border: 1px solid;
    position: fixed;
    z-index: 1010;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    padding: 5.6rem;

    border-radius: 16px;
    background-color: map-get($colors , beige);

    &.clicked{
        display: block;
    }
}

//遮罩
.popBlackCover{
    display: none;

    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);

    z-index: 1005;
    
    &.clicked{
    display: block;
    overflow-y: hidden;
    }
}