// 重置設定
@import 'base/reset';
html{ font-size: 10px; }
*, *::after, *::before{ box-sizing: border-box; }
a{ text-decoration: none; }
// 引用變數
@import 'base/var';
@import 'base/color';
@import 'base/typography';

@import 'mixin/mixin';

// 組件
@import 'component/btn';
@import 'component/dropdown';
@import 'component/input';
@import 'component/light-box';
@import 'component/popup';

// layout
@import 'layout/footer';
@import 'layout/header';

// page
@import 'page/home';
@import 'page/login-signup';
@import 'page/member-center';
@import 'page/pet-friendly';
@import 'page/question';
@import 'page/splootbox';
@import 'page/event';
@import 'page/sploot-buddy';
@import 'page/match';
@import 'page/matchCard';
@import 'page/petInfoCard';
@import 'page/buddy-post';
