// 重置設定
@import 'base/reset';
html{ font-size: 10px; }
*, *::after, *::before{ box-sizing: border-box; }
a{ text-decoration: none; }

// 引用變數
@import 'base/var';
@import 'base/color';
@import 'base/typography';

@import 'mixin/mixin';

// 組件
@import 'component/btn';
@import 'component/dropdown';
@import 'component/input';

// layout
@import 'layout/footer';
@import 'layout/header';

// page
@import 'page/index';
@import 'page/pet-friendly';
@import 'page/question';
@import 'page/splootbox';
@import 'page/pet-calendar';
@import 'page/splootBuddy';
@import 'page/match';
